label {
  display: block;
  font-size: 0.6em;
  margin-left: 0.2em;
  margin-bottom: 0;
}

#message-input, #author-input {
  background-color: #F9F9F9;
  border: none;
  border-bottom: 1px dashed #CCC;
  display: block;
  margin-bottom: 1em;
  margin-right: 2em;
  width: 100%;
  padding: 0.8em;
}